* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --primary-color: #58c24e;
  --second-primary-color: #c8e6b7;
  --secondary-color: #e3f9e5;
  --background-color: #ffffff;
  --active-btn-color: #58c24e;
  --disabled-btn-color: #b0d39e;
  --hover-color: #45ae3b;
  --secondary-hover-btn-color: #e1f2d2;
}

body {
  background-color: var(--background-color);
}

/* auth start */

.auth-form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.auth-form {
  background-color: var(--secondary-color);
  width: 400px;
  height: auto;
  border-radius: 60px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-wrap: break-word;
  scrollbar-width: none;
}

.auth-h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.auth-input {
  width: 100%;
  max-width: 100%;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
}

.auth-submit-btn {
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 5px;
  background-color: var(--active-btn-color);
  border: 2px solid var(--background-color);
  color: var(--background-color);
  font-size: 16px;
  cursor: pointer;
}

.auth-submit-btn:hover,
.logout-btn:hover {
  background-color: var(--hover-color);
}

.auth-submit-btn:disabled {
  background-color: var(--disabled-btn-color);
  cursor: not-allowed;
}

.auth-p {
  text-align: center;
}

.auth-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-link:hover {
  color: var(--hover-color);
}

.auth-error {
  text-align: center;
}

.logout-btn {
  border-radius: 20px;
  padding: 10px;
  background-color: var(--active-btn-color);
  border: none;
  color: var(--background-color);
  font-size: 16px;
  width: 100px;
  margin: auto;
  cursor: pointer;
}

@media (max-width: 480px) {
  .auth-form {
    width: 90%;
    min-width: 320px;
    gap: 10px;
  }
}

/* auth end */

/* Pages start */

.page-wrapper {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  background-color: var(--background-color);
  width: 100vw;
  height: 100dvh;
  padding: 0;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.page-header {
  background-color: var(--secondary-color);
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 10;
}

.page-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  width: 30px;
  height: 30px;
  padding: 10px;
  border: none;
  background-color: var(--background-color);
  border-radius: 50%;
  cursor: pointer;
}

.page-menu svg g path {
  stroke: var(--primary-color);
}

.page-menu:active {
  background-color: var(--secondary-hover-btn-color);
}

.page-title {
  text-align: center;
  width: 100%;
}

.page-profile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 10px;
  border: none;
  background-color: var(--background-color);
  border-radius: 50%;
}

.page-profile svg g {
  fill: var(--primary-color);
}

.page-profile:hover {
  background-color: var(--secondary-hover-btn-color);
}

.page-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 90vh;
  scrollbar-width: thin;
}

.page-profile-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.page-add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  margin-top: 10px;
}

.page-add-btn .link {
  stroke: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.page-add-btn .link:hover {
  stroke: var(--hover-color);
}

.page-list {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  scrollbar-width: none;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
}

.page-list-items {
  width: 150px;
  height: auto;
  background-color: var(--second-primary-color);
  border-radius: 30px;
  padding: 10px;
  overflow-wrap: break-word;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.page-list-items-data {
  height: 190px;
}

.page-list-items img {
  width: 150px;
  height: 150px;
  background-color: var(--background-color);
  border-radius: 20px;
  object-fit: cover;
}

.page-list-items svg {
  width: 150px;
  height: 150px;
  background-color: var(--background-color);
  border-radius: 20px;
  object-fit: cover;
  fill: var(--background-color);
}

.page-list-items svg g path {
  stroke: var(--primary-color);
}

.page-list-items img:hover,
.page-list-items svg:hover {
  scale: 1.05;
  border-radius: 25px;
}

.page-list-items p {
  text-align: center;
  margin: 5px 0 0 0;
}

.page-news-items {
  width: 250px;
  height: auto;
  background-color: var(--second-primary-color);
  border-radius: 30px;
  padding: 10px 10px 15px 10px;
  margin: 10px;
  overflow-wrap: break-word;
  text-decoration: none;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.page-news-items img {
  width: 250px;
  height: 250px;
  background-color: var(--background-color);
  border-radius: 20px;
  object-fit: cover;
}

.page-specific-news-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  scrollbar-width: none;
  background-color: var(--background-color);
  width: 100%;
  height: 90%;
  z-index: 999;
  position: absolute;
  top: 80px;
}

.page-specific-news-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-specific-news-item img {
  width: 250px;
  height: 250px;
  background-color: var(--second-primary-color);
  border-radius: 20px;
  object-fit: cover;
  border-radius: 30px;
  padding: 10px;
}

.page-specific-news-list .news-text {
  width: 80%;
  margin: 20px;
  margin-bottom: 50px;
  word-wrap: break-word;
}

.page-specific-news-list .news-text a {
  text-decoration: none;
  color: var(--primary-color);
}

.page-specific-news-list .news-text a:hover {
  color: var(--hover-color);
}

.page-close-btn svg {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid var(--primary-color);
  margin: 10px;
}

.page-close-btn svg:hover {
  border: 6px solid var(--hover-color);
}

.page-close-btn svg g path {
  fill: var(--primary-color);
}

.page-close-btn svg g path:hover {
  fill: var(--hover-color);
}

.page-profile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 30px;
  margin: 30px auto;
}

.page-profile-btn svg g {
  fill: var(--primary-color);
}

.page-form-wrapper {
  height: 100vh;
  margin: 20px 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
}

.page-form-upload-btn {
  display: flex;
}

.page-form-add-btn {
  border: none;
  background-color: var(--background-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.page-form-add-btn svg {
  stroke: var(--primary-color);
  border-radius: 50%;
}

.page-form-add-btn svg:hover {
  stroke: var(--hover-color);
}

.page-form-cam-btn {
  border: none;
  background-color: var(--background-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.page-form-cam-btn svg g path {
  fill: var(--primary-color);
  border-radius: 50%;
}

.page-form-cam-btn svg g path:hover {
  fill: var(--hover-color);
}

.page-form-upload-image-preview {
  width: 200px;
  height: 200px;
  background-color: var(--secondary-color);
  border-radius: 30px;
}

.page-form-upload-image-preview svg g path {
  stroke: var(--primary-color);
}

.page-form-upload-image-preview img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  object-fit: cover;
}

.page-form-input {
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  background-color: var(--secondary-color);
}

.page-form-submit-btn {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: var(--active-btn-color);
  border: 2px solid var(--background-color);
  color: var(--background-color);
  font-size: 16px;
  cursor: pointer;
}

.page-form-submit-btn:hover {
  background-color: var(--hover-color);
}

.page-form-submit-btn:disabled {
  background-color: var(--disabled-btn-color);
  cursor: not-allowed;
}

.page-content-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.page-content-image-wrapper {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content-image {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  background-color: #c8e6b7;
  object-fit: cover;
}

.page-content-text {
  margin: 10px 10px 30px 30px;
  line-height: 40px;
}

.Terms-Of-Use-And-Privacy-Policy {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.Terms-Of-Use-And-Privacy-Policy-p {
  text-align: center;
  margin: 20px 0;
}

.Terms-Of-Use-And-Privacy-Policy-link {
  text-decoration: none;
  color: var(--primary-color);
}

.Terms-Of-Use-And-Privacy-Policy-link:hover {
  color: var(--hover-color);
}

.page-delete {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 10px;
  border: none;
  background-color: var(--background-color);
  border-radius: 50%;
  cursor: pointer;
}

.page-delete svg g path {
  stroke: var(--primary-color);
}

.page-delete:hover {
  background-color: var(--secondary-hover-btn-color);
}

.page-weather {
  width: 150px;
  height: auto;
  background-color: var(--second-primary-color);
  border-radius: 30px;
  padding: 10px;
  overflow-wrap: break-word;
}

.page-weather img {
  width: 150px;
  height: 150px;
  background-color: var(--background-color);
  border-radius: 20px;
  object-fit: cover;
}

.page-weather img:hover {
  scale: 1.05;
  border-radius: 25px;
}

.page-weather p {
  text-align: center;
  margin: 5px 0 0 0;
}

.page-weather-data {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.page-weather-data img {
  width: 150px;
  height: 150px;
  background-color: var(--background-color);
  border: 10px solid var(--second-primary-color);
  border-radius: 30px;
  padding: 10px;
  overflow-wrap: break-word;
}

.page-weather-data a {
  text-decoration: none;
  color: var(--primary-color);
}

.page-weather-data a:hover {
  color: var(--hover-color);
}

.page-weather-data hr {
  width: 50%;
  border-top: 1px solid var(--primary-color);
}

.page-forecast-list {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
  margin: 10px 0;
  padding: 10px;
}

.page-forecast-group {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin: 0 20px;
  scrollbar-width: thin;
}

.page-forecast-card {
  background-color: var(--secondary-color);
  border-radius: 40px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 140px;
  word-wrap: break-word;
}

.page-forecast-card img {
  width: 100px;
  height: 100px;
  background-color: var(--background-color);
  border: 10px solid var(--second-primary-color);
  border-radius: 30px;
  padding: 10px;
  overflow-wrap: break-word;
}

.chatbot-chatview {
  padding: 10px;
  overflow-y: auto;
  background-color: var(--background-color);
  scrollbar-width: thin;
  height: 80vh;
}

.chatbot-chat-bot-p {
  border: 2px solid var(--second-primary-color);
  color: black;
  border-radius: 15px;
  padding: 20px;
  word-wrap: break-word;
  line-height: 40px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
}

.chatbot-chat-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatbot-chat-user-img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chatbot-chat-user-p {
  background-color: var(--second-primary-color);
  color: black;
  border-radius: 15px;
  padding: 10px;
  width: fit-content;
  max-width: 70%;
  word-wrap: break-word;
  line-height: 40px;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chatbot-prompt-wrapper {
  width: 100%;
  z-index: 10;
}

.chatbot-prompt-input-wrapper {
  display: flex;
  padding: 10px;
  background-color: var(--secondary-color);
}

.chatbot-prompt-input {
  flex: 1;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 12px;
  outline: none;
}

.chatbot-prompt-send-btn {
  border: none;
  border-radius: 10px;
  padding: 12px;
  margin-left: 5px;
  background-color: var(--active-btn-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 60px;
  text-align: center;
}

.chatbot-prompt-send-btn:hover {
  background-color: var(--hover-color);
}

.chatbot-prompt-send-btn:disabled {
  background-color: var(--disabled-btn-color);
  cursor: not-allowed;
}

.chatbot-disclaimer {
  text-align: center;
  font-size: 12px;
  background-color: var(--secondary-color);
  color: gray;
  padding-bottom: 10px;
}

.chat-history {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  z-index: 20;
  display: flex;
  flex-direction: column;
}

.chatbot-newchat {
  text-align: center;
  padding: 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
}

.chatbot-newchat svg {
  border: none;
  background-color: var(--background-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  stroke: var(--primary-color);
  border-radius: 50%;
}

.chatbot-newchat svg:hover {
  stroke: var(--hover-color);
}

.chatbot-history {
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-bottom: 250px;
}

.chatbot-history-list {
  text-align: start;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
  cursor: pointer;
}

.chatbot-history-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  border-top: 1px solid var(--primary-color);
  margin: 10px 0;
}

.no-history {
  text-align: center;
  margin: 50px 0;
}

.chatbot-history-delete {
  width: 30px;
  height: 30px;
  padding: 10px;
  border: none;
  background-color: var(--background-color);
  border-radius: 50%;
  cursor: pointer;
}

.chatbot-history-delete svg g path {
  stroke: var(--primary-color);
}

.chatbot-history-delete:hover {
  background-color: var(--secondary-hover-btn-color);
}

.image-in-chat {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  position: absolute;
  z-index: 0;
  padding-top: 10px;
}

.image-in-chat-camera-icon {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 2px;
  cursor: pointer;
}

.image-in-chat-camera-icon svg g path {
  fill: var(--primary-color);
}

.shops-near-by {
  display: flex;
  justify-content: center;
}

.shops-near-by-btn {
  width: 250px;
  height: auto;
  background-color: var(--active-btn-color);
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
  overflow-wrap: break-word;
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.shops-near-by-btn:hover {
  background-color: var(--hover-color);
}

.page-shop-list {
  display: flex;
  flex-direction: column;
}

.page-shop-items {
  width: 250px;
  height: auto;
  background-color: var(--second-primary-color);
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
  overflow-wrap: break-word;
  text-decoration: none;
  color: var(--secondary-text-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.page-shop-items a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

@media (min-width: 590px) {
  .page-news-items {
    width: 500px;
  }

  .page-news-items img {
    width: 500px;
  }

  .chatbot-history {
    padding-bottom: 250px;
  }
}

@media (min-width: 1024px) {
  .page-container {
    width: 60vw;
    height: 80vh;
    border: 4px solid var(--secondary-color);
    border-radius: 60px;
  }

  .chatbot-history {
    padding-bottom: 500px;
  }
}

/* Pages end */
